/* Gallery.module.css */
.gallery {
    position: relative;
  }
  
  .galleryTrack {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    padding: 0.25rem;
    will-change: transform;
  }
  
  .card {
    height: 400px;
    overflow: hidden;
  }
  
  .cardImageWrapper {
    height: 135%;
    will-change: transform;
  }
  
  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 800px) {
    .galleryTrack {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 550px) {
    .galleryTrack {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  